.head {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

a {
  color: rgb(52, 192, 192);
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  cursor: auto;
}

.iconD {
  align-items: baseline;
}

img.logo {
  border-radius: 50%;
  width: 90px;
}

.parts {
  list-style: none;
  display: flex;
  text-decoration: none;
  gap: 6rem;
  font-size: 17px;
  font-weight: 600;
  color: rgb(52, 192, 192);
  margin-left: 10rem;
}

footer p {
  text-decoration: none;
  color: #3f3a3a;
  font-size: 18px;
  font-weight: 800;
  display: flex;
}

.copyright {
  border: 2px #3f3a3a solid;
  background-color: white;
  padding: 20px 10px;
  width: 95vw;
  bottom: 4%;
  position: fixed;
}
